.keyboard__container {
  width: 700px;
  margin: 0 auto;
  padding: 5px;

  background-color: #888888;
  border: 3px solid #222222;
  border-radius: 5px;
}

.keyboard__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.keyboard__key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  overflow: hidden;

  color: #ffffff;

  background-color: #444444;
  border-radius: 3px;

  &--wide {
    width: 50px;
  }

  &--widest {
    width: 100px;
  }

  &--bold {
    font-weight: bold;
  }

  &--secondary-color {
    background-color: #222222;
  }

  &--space {
    width: 330px;
  }

  &--pressed {
    color: #000000;
    background-color: #ffffff;
  }
}
